.bgEffectMid {
    animation: bgEffectMidMovementFarthestSide 3s ease-in-out infinite alternate-reverse;
}
@keyframes bgEffectMidMovementFarthestSide {
    0% { background-image: radial-gradient(farthest-side at 100% 0%, white, #00857c, #00857c); }
    2.5% { background-image: radial-gradient(farthest-side at 97.5% 2.5%, white, #00857c, #00857c); }
    5% { background-image: radial-gradient(farthest-side at 95% 5%, white, #00857c, #00857c); }
    7.5% { background-image: radial-gradient(farthest-side at 92.5% 7.5%, white, #00857c, #00857c); }
    10% { background-image: radial-gradient(farthest-side at 90% 10%, white, #00857c, #00857c); }
    12.5% { background-image: radial-gradient(farthest-side at 87.5% 12.5%, white, #00857c, #00857c); }
    15% { background-image: radial-gradient(farthest-side at 85% 15%, white, #00857c, #00857c); }
    17.5% { background-image: radial-gradient(farthest-side at 82.5% 17.5%, white, #00857c, #00857c); }
    20% { background-image: radial-gradient(farthest-side at 80% 20%, white, #00857c, #00857c); }
    22.5% { background-image: radial-gradient(farthest-side at 77.5% 22.5%, white, #00857c, #00857c); }
    25% { background-image: radial-gradient(farthest-side at 75% 25%, white, #00857c, #00857c); }
    27.5% { background-image: radial-gradient(farthest-side at 72.5% 27.5%, white, #00857c, #00857c); }
    30% { background-image: radial-gradient(farthest-side at 70% 30%, white, #00857c, #00857c); }
    32.5% { background-image: radial-gradient(farthest-side at 67.5% 32.5%, white, #00857c, #00857c); }
    35% { background-image: radial-gradient(farthest-side at 65% 35%, white, #00857c, #00857c); }
    37.5% { background-image: radial-gradient(farthest-side at 62.5% 37.5%, white, #00857c, #00857c); }
    40% { background-image: radial-gradient(farthest-side at 60% 40%, white, #00857c, #00857c); }
    42.5% { background-image: radial-gradient(farthest-side at 57.5% 42.5%, white, #00857c, #00857c); }
    45% { background-image: radial-gradient(farthest-side at 55% 45%, white, #00857c, #00857c); }
    47.5% { background-image: radial-gradient(farthest-side at 52.5% 47.5%, white, #00857c, #00857c); }
    50% { background-image: radial-gradient(farthest-side at 50% 50%, white, #00857c, #00857c); }
    52.5% { background-image: radial-gradient(farthest-side at 47.5% 52.5%, white, #00857c, #00857c); }
    55% { background-image: radial-gradient(farthest-side at 45% 55%, white, #00857c, #00857c); }
    57.5% { background-image: radial-gradient(farthest-side at 42.5% 57.5%, white, #00857c, #00857c); }
    60% { background-image: radial-gradient(farthest-side at 40% 60%, white, #00857c, #00857c); }
    62.5% { background-image: radial-gradient(farthest-side at 37.5% 62.5%, white, #00857c, #00857c); }
    65% { background-image: radial-gradient(farthest-side at 35% 65%, white, #00857c, #00857c); }
    67.5% { background-image: radial-gradient(farthest-side at 32.5% 67.5%, white, #00857c, #00857c); }
    70% { background-image: radial-gradient(farthest-side at 30% 70%, white, #00857c, #00857c); }
    72.5% { background-image: radial-gradient(farthest-side at 27.5% 72.5%, white, #00857c, #00857c); }
    75% { background-image: radial-gradient(farthest-side at 25% 75%, white, #00857c, #00857c); }
    77.5% { background-image: radial-gradient(farthest-side at 22.5% 77.5%, white, #00857c, #00857c); }
    80% { background-image: radial-gradient(farthest-side at 20% 80%, white, #00857c, #00857c); }
    82.5% { background-image: radial-gradient(farthest-side at 17.5% 82.5%, white, #00857c, #00857c); }
    85% { background-image: radial-gradient(farthest-side at 15% 85%, white, #00857c, #00857c); }
    82.5% { background-image: radial-gradient(farthest-side at 12.5% 82.5%, white, #00857c, #00857c); }
    90% { background-image: radial-gradient(farthest-side at 10% 90%, white, #00857c, #00857c); }
    92.5% { background-image: radial-gradient(farthest-side at 8.5% 92.5%, white, #00857c, #00857c); }
    95% { background-image: radial-gradient(farthest-side at 5% 95%, white, #00857c, #00857c); }
    97.5% { background-image: radial-gradient(farthest-side at 2.5% 97.5%, white, #00857c, #00857c); }
    100% { background-image: radial-gradient(farthest-side at 0% 100%, white, #00857c, #00857c); }
}

#constructionAnimation {
    background: repeating-linear-gradient(45deg, gray, gray 10px, darkkhaki 10px,darkkhaki 20px);
    background-clip: text;
    animation: constructionAnimation all 3s ease-in-out infinite;
}

@keyframes constructionAnimation {
    0% { background: repeating-linear-gradient(45deg, gray, gray 10px, darkkhaki 10px,darkkhaki 20px);}
    50% { background: repeating-linear-gradient(45deg, darkkhaki 10px,darkkhaki 20px, gray, gray 10px);}
    100% { background: repeating-linear-gradient(45deg, gray, gray 10px, darkkhaki 10px,darkkhaki 20px);}
}