hr {
    color: transparent;
}

/* .myImg {
    border-radius: 1rem !important;
    transition: all 0.5s ease-in-out;
    margin: auto auto;
    padding: 0.5rem;
    max-width: 80vw;
} */

/* .myImg:hover {
    transform: scale(1.025);
} */

.btn1 {
    opacity: 0;
    transform: translateX(-1rem);
}

.btn1.show {
    opacity: 1;
    transform: translateX(0);
}

@media (min-width: 900px) {
    #areaOfExpertise {
        width: fit-content;
    }
}

@media (max-width: 575px) {
    #areaOfExpertise {
        width: fit-content;
    }
}

#pillBottleCartoon {
    height: 3rem;
    margin: 0 1rem;
    transition: transform 0.5s ease-in-out;
}

#pillBottleCartoon:hover {
    animation: spin 2s ease-in-out infinite;
}

.bgParallax {
    background-image: url('../pics/biopharma/pillsLeftSideOnly.jpg');
    animation: bgParallax 180s ease-in-out infinite;
    background-position: left top;
    background-attachment: fixed;
}

@keyframes bgParallax {
    0% {
        background-position: left top;
    }
    50% {
        background-position: left bottom;
    }
    100% {
        background-position: left top;
    }
}

@media (min-width: 1200px) {
    .bgParallax {
        background-position: top;
    }
    @keyframes bgParallax {
        0% {
            background-position: top;
        }
        50% {
            background-position: bottom;
        }
        100% {
            background-position: top;
        }
    }
}

.imgRotate1 {
    animation: iconRotate 4s infinite ease-in-out 0.5s;
    transition: all 0.5s ease-in-out;
}

.imgRotate2 {
    animation: iconRotate 4s infinite ease-in-out 1s;
    transition: all 0.5s ease-in-out;
}

.imgRotate1:hover, .imgRotate2:hover {
    animation: spin 1s infinite linear;
}