hr {
    color: transparent;
}

.btn1 {
    opacity: 0;
}

.btn1.show {
    opacity: 1;
}

.bgParallax {
    background-image: url('../pics/compliance/qualityCircles.jpg');
    animation: bgParallax 180s ease-in-out infinite;
    background-position: top left;
    background-attachment: fixed;
}

@keyframes bgParallax {
    0% {
        background-position: top left;
    }
    50% {
        background-position: bottom right;
    }
    100% {
        background-position: top left;
    }
}

.imgRotate1 {
    animation: iconRotate 4s infinite ease-in-out 0.5s;
    transition: all 1s ease-in-out;
}

.imgRotate2 {
    animation: iconRotate 4s infinite ease-in-out 1s;
    transition: all 1s ease-in-out;
}

.imgRotate1:hover, .imgRotate2:hover {
    animation: spin 1s infinite ease-in-out;
}

div.scrollmenu>a {
    box-shadow: none;
}

div.scrollmenu>a>img {
    max-height: 6rem;
    max-width: 9rem;
}