*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Permanent Marker', cursive;
}

.fontPermanentMarker {
    font-family: 'Permanent Marker', cursive;
}

.fontScript {
    font-family: 'Dancing Script', cursive;
}

h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Roboto', sans-serif;
}

a:active {
    border-color: cadetblue !important;
    color: white !important;
    background-color: cadetblue !important;
}

html,
footer {
    overflow-x: hidden;
    width: 100%;
    min-height: 100%;
    position: center;
}

.container-fluid {
    margin: 0 auto;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
    max-width: 1280px;
}

.carousel {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.carousel-item>img {
    position: relative;
}

#logo {
    background-color: transparent;
    top: 0;
    position: absolute;
    max-height: 80vmin;
}

#about {
    max-width: 1280px;
}

figure>a {
    margin: -2vmin 0 0 10vw;
}

#aboutImg {
    border-radius: 50%;
    object-fit: cover;
    height: 30vmin;
    width: 30vmin;
    opacity: 0.3;
    transition: all 0.5s ease-in-out;
    margin-left: -35vmin;
}

#aboutImg:hover,
#aboutImg.show {
    transform: scale(-1, 1) scale(1.5);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.btn {
    border: 1px solid #00857c;
    background-color: #00857c;
    color: white;
    transition: all 0.25s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn:hover {
    background-color: transparent;
    color: #00857c;
}

.text-silver {
    color: silver;
}

.text-goldenrod {
    color: goldenrod;
}

.boxShadowWhite {
    box-shadow: 0 0 2rem 2rem white inset;
}

.boxShadowBlack {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.boxShadowBig {
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px !important;
}

.textShadowBlack {
    text-shadow: 1px 1px black;
}

.textShadowSilver {
    text-shadow: 1px 1px silver;
}

.dropShadow {
    -webkit-filter: drop-shadow(1px 1px 1px black);
    filter: drop-shadow(1px 1px 1px black);
}

.myArticles {
    margin: 1rem auto;
    padding: 1rem;
    width: 90vw;
    max-width: 960px;
    line-height: 1.6;
}

div.scrollmenu {
    background-color: transparent;
    white-space: nowrap;
    padding: 2rem 0;
    scrollbar-width: none;
}

div.scrollmenu a {
    display: inline-block;
    color: silver;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 1.5rem;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.25s ease-in-out;
    font-weight: bolder;
}

div.scrollmenu a:hover {
    transform: translateY(-1rem) !important;
}

#logosScroll {
    width: 100vw;
    overflow-x: scroll;
    white-space: nowrap;
    display: flex;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

.btnBottom {
    transform: translateY(-2rem);
    transition: transform 1s ease-in-out, color 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

.btnBottom.show {
    transform: translateY(0rem);
}

#iconSpin {
    animation: spin 60s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

footer {
    color: white;
    background-color: #00857c;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#footerIconWrapper {
    background-color: transparent;
    border-radius: 50%;
    border-left: 1px solid silver !important;
    border-right: 1px solid cyan !important;
    border-top: 1px solid transparent !important;
    border-bottom: 1px solid transparent !important;
    border-radius: 50%;
    transition: all 1s ease-in-out;
    animation: iconRotate3d3 20s infinite ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#footerIcon {
    height: 2rem;
    margin: auto 0.25rem;
    padding: 0.25rem;
    animation: iconRotate3d2 10s infinite ease-in-out;
    border-radius: 50%;
}

/* Icon Rotate Animations Below */
@keyframes iconRotate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(-1, 1) scale(1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes iconRotate3d {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(-1, 1) scale(1) rotate(90deg);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes iconRotate3d2 {
    0% {
        transform: scale(1) rotate(0deg);
    }
    12.5% {
        transform: scale(-1, 1) scale(1) rotate(45deg);
    }
    25% {
        transform: scale(1) rotate(90deg);
    }
    37.5% {
        transform: scale(-1, 1) scale(1) rotate(135deg);
    }
    50% {
        transform: scale(1) rotate(180deg);
    }
    62.5% {
        transform: scale(-1, 1) scale(1) rotate(225deg);
    }
    75% {
        transform: scale(1) rotate(270deg);
    }
    87.5% {
        transform: scale(-1, 1) scale(1) rotate(315deg);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }
}

@keyframes iconRotate3d3 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}