*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Permanent Marker', cursive;
}

.fontPermanentMarker {
    font-family: 'Permanent Marker', cursive;
}

h2, h3, h4, h5, h6, p {
    font-family: 'Roboto', sans-serif;
}

html,footer {
    overflow-x: hidden;
    width: 100%;
    min-height: 100%;
    position: center;
}

.container-fluid {
    margin: 0 auto;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
    max-width: 1280px;
}

.carousel {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.carousel-item>img {
    position: relative;
}

#logo {
    background-color: transparent;
    top: 0;
    position: absolute;
    max-height: 80vmin;
}

#about {
    max-width: 1280px;
}

figure>a {
    margin: -2vmin 0 0 10vw;
}

#aboutImg {
    border-radius: 50%;
    object-fit: cover;
    height: 30vmin;
    width: 30vmin;
    opacity: 0.3;
    transition: all 0.5s ease-in-out;
    margin-left: -35vmin;
}

#aboutImg:hover,#aboutImg.show {
    transform: scale(-1, 1) scale(1.5);
}

.btn {
    border: 1px solid #00857c;
    background-color: #00857c;
    color: white;
    transition: all 0.5s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn:hover {
    background-color: whitesmoke;
    color: #00857c;
}

.text-silver {
    color: silver;
}

.text-goldenrod {
    color: goldenrod;
}

.boxShadowWhite {
    box-shadow: 0 0 2rem 2rem white inset;
}

.boxShadowBlack {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.textShadowBlack {
    text-shadow: 1px 1px black;
}

.textShadowWhite {
    text-shadow: 1px 1px white;
}

.myArticles {
    margin: 1rem auto;
    padding: 1rem;
    width: 90vw;
    max-width: 960px;
    line-height: 1.6;
}

footer {
    color: white;
    background-color: #00857c;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#footerIcon {
    height: 2rem;
    margin: auto 0.25rem;
    padding: 0.25rem;
    animation: iconRotate 4s infinite ease-in-out;
    opacity: 0.55;
    border-radius: 50%;
    background-image: linear-gradient(to right,cyan, lime);
}

@keyframes iconRotate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(-1, 1) scale(1);
    }
    100% {
        transform: scale(1);
    }
}