*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Permanent Marker', cursive;
}

.fontPermanentMarker {
    font-family: 'Permanent Marker', cursive;
}

h2, h3, h4, h5, h6, p {
    font-family: 'Roboto', sans-serif;
}

html,footer {
    overflow-x: hidden;
    width: 100%;
    min-height: 100%;
    position: center;
}

.container-fluid {
    margin: 0 auto;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
    max-width: 1280px;
}

.carousel-item>img {
    position: relative;
}

#logo {
    background-color: transparent;
    top: 0;
    position: absolute;
    max-height: 80vmin;
}

#about {
    max-width: 1280px;
}

figure>a {
    margin: -2vmin 0 0 10vw;
}

#aboutImg {
    border-radius: 50%;
    object-fit: cover;
    height: 30vmin;
    width: 30vmin;
    opacity: 0.3;
    transition: all 0.5s ease-in-out;
    margin-left: -35vmin;
}

#aboutImg:hover,#aboutImg.show {
    transform: scale(-1, 1) scale(1.5);
}

footer {
    color: white;
    background-color: #00857c;
}