li {
    list-style-type: none;
}

.h2 {
    font-weight: bolder;
}

.btn1 {
    opacity: 0;
}

.btn1.show {
    opacity: 1;
}

/* Styling for Additional Pages */
#homePage {
    border: 1px solid #00857c;
    background-color: transparent;
    color: #00857c;
}

#homePage:hover {
    background-color: #00857c;
    color: white;
}

#greetingPic {
    border-radius: 50%;
}

.bgParallax {
    /* width: 100%; */
    background-image: url('../pics/about/mechBackground.jpg');
    animation: bgParallax 180s ease-in-out infinite;
    background-position: left top;
    background-attachment: fixed;
}

@keyframes bgParallax {
    0% {
        background-position: left top;
    }
    50% {
        background-position: left bottom;
    }
    100% {
        background-position: left top;
    }
}

.imgRotate1 {
    animation: iconRotate 4s infinite ease-in-out;
}

.imgRotate2 {
    animation: iconRotate 4s infinite ease-in-out 1s;
}