.h2 {
    font-weight: bolder;
}

.btn1, .btn2 {
    opacity: 0;
}

.btn1.show, .btn2.show {
    opacity: 1;
}

@media (max-width:575px) {
    .smallImages {
        width: 8rem !important;
    }
}

#greetingPic {
    border-radius: 50%;
}

.bgParallax {
    background-image: url('../pics/about/mechBackground.jpg');
    animation: bgParallax 300s ease-in-out infinite;
    background-position: center;
    background-attachment: fixed;
}

@keyframes bgParallax {
    0% {
        background-position: top;
    }
    50% {
        background-position: bottom;
    }
    100% {
        background-position: top;
    }
}

.imgRotate1 {
    animation: iconRotate 4s infinite ease-in-out 0.5s;
    transition: all 1s ease-in-out;
}

.imgRotate2 {
    animation: iconRotate 4s infinite ease-in-out 1s;
    transition: all 1s ease-in-out;
}

.imgRotate1:hover, .imgRotate2:hover {
    animation: spin 1s infinite ease-in-out;
}