nav,.dropdown-menu {
    background-color: #00857c;
    padding-left: 0.5rem;
    border: none;
    border-bottom: 1px solid #00857c;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (min-width:575px) {
    .navbar {
        height: 2.675rem;
    }
}

@media (max-width:575px) {
    .navbar {
        height: 1rem;
    }
}

.navbar-collapse {
    background-color: #00857c;
    padding-left: 1rem;
}

#navBarIcon {
    transition: transform 1s ease-in-out;
}

#navBarIcon {
    animation: iconRotate 2s infinite ease-in-out;
}

.navbar-toggler:hover {
    animation: iconRotate 2s infinite ease-in-out;
}

@keyframes iconRotate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(-1, 1) scale(1);
    }
    100% {
        transform: scale(1);
    }
}

.navbar-toggler {
    border-left: 2px solid silver !important;
    border-right: 2px solid cyan !important;
    border-top: 2px solid transparent !important;
    border-bottom: 2px solid transparent !important;
    border-radius: 50%;
    animation: iconRotate 8s infinite ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.nav-link {
    padding: 0;
    transition: all 0.5s ease-in-out;
    padding: 0.125rem;
    width: fit-content;
    font-weight: bolder;
    border-radius: 4px;
}

.nav-link:hover,
.nav-link:focus {
    background-color: white;
    color: #00857c  !important;
    font-weight: bolder;
}

@media (max-width:575px) {
    .nav-link {
        transition: all 0s ease-in-out;
    }
    .nav-link:hover,
    .nav-link:focus {
        margin-left: -0.25rem;
        border-left: 0.25rem solid white;
        border-right: 0.25rem solid white;
    }
    nav {
        height: 0;
    }
    .nav-item {
        background-color: #00857c;
        padding-left: 0.5rem;
    }
}


/* navbar-brand and menuLogo hover effects keep at bottom */
.navbar-brand {
    transition: all 0.25s ease-in-out;
    background-color: #00857c;
    padding: 0.125rem 0.25rem;
    border: 2px solid #00857c;
}

.navbar-brand:hover,
.navbar-brand:focus {
    transform: scale(0.9);
    border: 2px solid white;
    border-radius: 4px;
    padding: 0.125rem 0.25rem;
}

#menuLogo {
    transition: transform 0.25s ease-in-out;
}

#menuLogo:hover{
    transform: scale(0.9);
    background-color: #00857c !important;
    border-radius: 10px;
}