nav,.dropdown-menu {
    background-color: #00857c;
    padding-left: 0.5rem;
    border: none;
    border-bottom: 1px solid #00857c;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (min-width:575px) {
    .navbar {
        height: 2.675rem;
    }
}

@media (max-width:575px) {
    .navbar {
        height: 1rem;
    }
    .nav-item {
        margin: 0.5rem 0;
    }
}

.dropdown-item {
    margin: 0.5rem 1rem 0.5rem 0;
}

.navbar-collapse {
    background-color: #00857c;
    padding-left: 0.5rem;
}

#navBarIcon {
    transition: transform 1s ease-in-out;
}

#navBarIcon {
    animation: iconRotate3d 2s infinite ease-in-out;
}

@keyframes iconRotate3d {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(-1, 1) scale(1) rotate(90deg);
    }
    100% {
        transform: scale(1);
    }
}

.navbar-toggler {
    border-left: 2px solid silver !important;
    border-right: 2px solid cyan !important;
    border-top: 2px solid transparent !important;
    border-bottom: 2px solid transparent !important;
    border-radius: 50%;
    animation: iconRotate3d 8s infinite ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.nav-link {
    padding: 0;
    transition: all 0.25s ease-in-out;
    padding: 0.125rem;
    width: fit-content;
    font-weight: bolder;
    
}

.nav-link.active {
    border-bottom: 2px solid white;
    margin-bottom: -2px;
    border-radius: 0;
    -webkit-filter: drop-shadow(1px 1px 1px black);
    filter: drop-shadow(1px 1px 1px black);
}

#nav-linkWelcome {
    opacity: 0.75;
}

#nav-linkWelcome.active {
    border-bottom: none;
    opacity: 1;
}

.nav-link:hover,
.nav-link:focus {
    background-color: white !important;
    color: #00857c  !important;
    font-weight: bolder;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    -webkit-filter: drop-shadow(1px 1px 1px black);
    filter: drop-shadow(1px 1px 1px black);
    opacity: 1;
    text-decoration: none !important;
    border-radius: 4px;
}

@media (max-width:575px) {
    .nav-link {
        transition: all 0s ease-in-out;
    }
    .nav-link:hover,
    .nav-link:focus {
        margin-left: -0.25rem;
        border-left: 0.25rem solid white;
        border-right: 0.25rem solid white;
    }
    nav {
        height: 0;
    }
    .nav-item {
        background-color: #00857c;
        padding-left: 0.5rem;
    }
    .navbar-collapse {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 4px;
    }
}

.dropdown-item.active {
    background-color: transparent;
}

/* navbar-brand and menuLogo hover effects keep at bottom */
.navbar-brand {
    transition: all 0.25s ease-in-out;
    background-color: #00857c;
    padding: 0.125rem 0.25rem;
    border: 2px solid #00857c;
    
}

.navbar-brand:hover,
.navbar-brand:focus {
    transform: scale(0.9);
    border: 2px solid white;
    border-radius: 4px;
    padding: 0.125rem 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#navbarLogo {
    opacity: 0.75;;
}



#menuLogo {
    transition: transform 0.25s ease-in-out;
}

#menuLogo:hover{
    transform: scale(0.98);
    background-color: #00857c !important;
    border-radius: 4px;
    margin-left: 0.25rem;
}