hr {
    color: transparent;
}

/* .myImg {
    border-radius: 1rem !important;
    transition: all 0.5s ease-in-out;
    margin: auto auto;
    padding: 0.5rem;
    max-width: 80vw;
} */

/* .myImg:hover {
    transform: scale(1.025);
} */

.btn1,.btnBottom {
    opacity: 0;
    transform: translateX(-1rem);
}

.btn1.show,.btnBottom.show {
    opacity: 1;
    transform: translateX(0);
}

@media (min-width: 900px) {
    #areaOfExpertise {
        width: fit-content;
    }
}

@media (max-width: 575px) {
    #areaOfExpertise {
        width: fit-content;
    }
}

#pillBottleCartoon {
    height: 3rem;
    margin: 0 1rem;
}

.bgParallax {
    background-image: url('../pics/osd/pillsLeftSideOnly.jpg');
    animation: bgParallax 180s ease-in-out infinite;
    background-position: left top;
    background-attachment: fixed;
}

@keyframes bgParallax {
    0% {
        background-position: left top;
    }
    50% {
        background-position: left bottom;
    }
    100% {
        background-position: left top;
    }
}

.imgRotate1 {
    animation: iconRotate 4s infinite ease-in-out 1.5s;
    transition: all 1s ease-in-out;
}

.imgRotate2 {
    animation: iconRotate 4s infinite ease-in-out 2s;
    transition: all 1s ease-in-out;
}

.imgRotate1:hover, .imgRotate2:hover {
    animation: none;
    transform: scale(0.5);
}