*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    background-color: black;
}

.kaushanFont {
    font-family: 'Kaushan Script', cursive;
}
.carousel-caption {
    display: flex;
    flex-direction: column;
    font-size: 200%;
    gap: 15vw;
}

@media (max-width: 480px) {
    .carousel-caption {
        font-size: 125%;
        gap: 5vw;
    }
}

@media (min-width: 768px) {
    .carousel-caption {
        font-size: 300%;
        gap: 20vw;
    }
}

.carousel-caption>h1 {
    font-size: 200%;
    width: 100%;
    max-width: 100%;
    font-style: italic;
}

#about {
    background-color: white;
}

#services {
    background-color: transparent;
}

.card {
    padding: 1rem;
}

.card-body>a {
    background-color: #00857c;
}

#contact {
    border: 3px solid #00857c;
    border-radius: 10px;
    background-color: dimgray;
}

form>button {
    color:white;
    border-radius: 10px;
}

form>button:hover {
    background-color: cyan;
    color: black
}

textarea {
    resize: none;
}